# CIS 4.2.1.5 Ensure logging is configured
ruleset(
    name="default_unix_forward"
    queue.type="FixedArray"
    queue.size="10000"
    queue.fullDelayMark="10000"
    queue.lightDelayMark="10000"
    queue.highwatermark="8500"
    queue.discardMark="8000"
    queue.lowwatermark="5000"
    queue.discardSeverity="5"
    queue.filename="fwd"
    queue.spoolDirectory="/var/lib/rsyslog"
    queue.maxDiskSpace="2147483648"
    queue.maxFileSize="32m"
    queue.saveOnShutdown="on"
    queue.workerThreads="2"
    queue.timeoutEnqueue="0"
) {
    *.info;mail.none;auth.none;authpriv.none;daemon.none;cron.none;local6.none /var/log/messages
    auth,authpriv.*; /var/log/secure
    mail.* -/var/log/maillog
    cron.* /var/log/cron
    *.emerg :omusrmsg:*
    :programname,contains,"systemd-logind"  ~
    local0.*,local1.* -/var/log/localmessages
    local2.*,local3.* -/var/log/localmessages
    local4.*,local5.* -/var/log/localmessages
    local6.*          -/var/log/localmessages
    local7.* /var/log/boot.log
# CIS 4.2.1.6 Ensure rsyslog is configured to send logs to a remote log host
{% if syslog_host is defined %}
    auth,authpriv.*   action(type="omrelp" target="{{ syslog_host }}" port="{{ syslog_port }}"
    {% if syslog_tls is defined and syslog_ca_cert is defined %}
                         tls="{{ syslog_tls }}"
                         tls.caCert="/etc/pki/tls/certs/{{ syslog_ca_cert }}"
                         tls.authMode="fingerprint"
    {% endif %}
                         template="SecureForwardFormat"
                         action.resumeRetryCount="-1"
                         queue.type="linkedList"
                         queue.size="10000"
                         queue.filename="authqueue"
                         queue.saveOnShutdown="on")
{% endif %}

}

$DefaultRuleset default_unix_forward
