# /etc/sysconfig/rsyslog file managed through ansible
# ansible_managed

# Options to syslogd
# See syslogd(8) for more details
SYSLOGD_OPTIONS="-n"
# Options to klogd
# -2 prints all kernel oops messages twice; once for klogd to decode, and
#    once for processing with 'ksymoops'
# -x disables all klogd processing of oops messages entirely
# See klogd(8) for more details
KLOGD_OPTIONS="-x"
